<template>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_first_name">Child Index: {{index}} | First Name</label>
            <input id="id_first_name"
                   name="id_first_name"
                   class="form-control"
                   type="text"
                   placeholder="First Name"
                   v-model="firstName"
                   v-validate="'required'"
            >
            <div v-show="!firstNameValid"
                class="alert alert-danger"
            >This field is required</div>

        </div>
        <div class="form-group col-md-6">
            <label for="id_last_name">Last Name</label>
            <input id="id_last_name"
                   name="id_last_name"
                   class="form-control"
                   type="text"
                   placeholder="Last Name"
                   v-model="lastName"
                   v-validate="'required'"
            >
            <div v-show="!lastNameValid"
                 class="alert alert-danger"
            >This field is required</div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "childDetails",
        props: [
            'index',
            'firstName',
            'lastName'
        ],
        data:() => {
            return {
                firstName: "",
                lastName: ""
            }
        },
        computed: {
            firstNameValid(){
                return this.firstName.length > 0
            },
            lastNameValid(){
                return this.lastName.length > 0
            },
            // bit of a hacky way to watch 2 things at once.
            fullName(){
                return `${this.firstName} ${this.lastName}`
            }
        },
        watch: {
            fullName(){
                if(this.firstNameValid && this.lastNameValid){
                    this.$emit("validity",true)
                }
                else{
                    this.$emit("validity",false)
                }
            }
        }
    }
</script>

<style scoped>

</style>