<template>
    <div class="card">
        <div class="card-header">
            Class List
        </div>
        <div class="card-body">
            <div v-bind:key="index" v-for="(child, index) in classList">
                <child-details
                    v-bind:first-name="child.first_name"
                    v-bind:last-name="child.last_name"
                    v-bind:index="index"

                ></child-details>
            </div>
            <hr>
            <div class="form-row">
                <!-- We want to make sure the whole page is submitted -->
                <form @submit="addChild">
                    <input type="submit" value="Add Another Child" class="btn btn-primary" v-bind:onclick="addChild">
                </form>

                <!-- We want to submit this -->
                <input type="submit" value="Submit List" class="btn btn-success">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "classList",
        props: [
            'classList',
        ],
        methods: {

            //Adding an extra child to the class list
            addChild(e) {
                //Prevent page from submitting
                e.preventDefault();

                //Tell the console you are adding a child
                console.log("Adding another child");

                //Add an extra child onto the class list
                var temp_child = {
                    first_name: '',
                    last_name: '',
                };

                //Add the temp_child to the class_list
                this.classList.push(temp_child);

                //Force reload
                this.$forceUpdate();
            }
        },
        mounted() {
            console.log("Class List: ", this.classList);
        }

    }
</script>

<style scoped>

</style>